app-message-box {
    button {
       text-align: center;
    }
    ion-row {
        text-align: center;
    }
    .grid-class {
        height: 40px;
        margin: 0;
        padding: 0;
    }
    .ionicons {
        font-size: 200%;
    }
}
